*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
.navbar{
    position: fixed;
    z-index: 4;
    width: 100%;


}
.navbar ul li a , .navbar h1{
    color: #134e4e !important;
}
section{
    z-index: 2;
}
#home{    
    padding-top: 80px;
    width: 100%;
    height: 100vh;
}
#about{
    width: 100%;
    height: auto;
    background-color: #EEEEEE;
    z-index: 2;
    padding-top: 50px;
}
#destinations{
    padding: 70px;
    padding-top: 50px;
    
}
#desti-home{
    height: 100vh;
    padding-top: 100px;
    background-image: url('../img/home.jpg');
    background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  font-size: 20px;
}
.home-2-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.home-1-img{
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}
.header{
    z-index: 1;
    color: #482121;
    font-size: 75px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
    width: 100%;
    text-align: center;
   
}
.header-colour{
    color: #482121;
}
.header-about{
    position: relative;
    
}
.header-service{
    padding-top: 40px;
}
.row{
    padding: 0 !important;
    margin: 0 !important;


}
.about-details{
    padding: 70px !important;
    padding-bottom: 0px !important;
}
.p{
    color: #7A3E3E;
    font-size: 22px;
    
}
.img{
    position: relative;
    margin: 0 !important;
    padding-bottom: 100px;
}
.img img{
    width: 250px;
    position: relative;


}

.detail-body{
    height: auto;
    padding: 70px !important;
    padding-bottom: 0px !important;

}
.a-2{
    position: relative;
    top: 50px;
    left: -20px;
}

.service-img{
    width: 500px;
    position: relative;
    bottom: 0px;

}
.customer{
    width: 100%;
    height:auto;
    background-color:#d8d8d8;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-pagination-bullet {
    background:#d8d8d8;
}
.swiper-button-next ,.swiper-button-prev{
    color: #134e4e;
}
.card-customer{
    height:auto;
    width: 90%;
    background-color: #134e4e;
    color: #d8d8d8;
    padding: 10px;

    
}
.customer-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;}
.customer p{
    font-size: 20px;

}
.start-quick{
    background-color: #134e4e;
    width: 100%;
    height: auto;
    padding: 50px !important;
    color: #d8d8d8;
    
}

.explore{
    width: 150px;
    height: 50px;
margin-left: 20px;
background-color: transparent;
color: #d8d8d8;
border: solid 2px #d8d8d8;
font-size: 20px;
position: absolute;
right: 100px;}


.place-card{
    background-color: #134e4e;
    width: 300px;
    height: 450px;
    margin-right: 10px;
    margin-bottom: 30px;
    color: #d8d8d8;
    padding-top: 0px;
    border-radius: 0px;
    border: none;

    
}
.card-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 20px;
}
 .place-description{
    padding: 10px;
}
.DestinationSwiper .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background:#134e4e;

}
.price-tag{
    background-color: #ffffff;
    color: #134e4e;
    margin-left: 20px;
    margin-right: 20px;
    
}